common --noenable_bzlmod

# Enforce stricter environment rules, which eliminates some non-hermetic
# behavior and therefore improves both the remote cache hit rate and the
# correctness and repeatability of the build.
common --incompatible_strict_action_env=true

# Default to clang on host
common --repo_env=CC=clang
common --repo_env=CXX=clang++
build --action_env=CC=clang
build --action_env=CXX=clang++
build --host_action_env=CC=clang
build --host_action_env=CXX=clang++

# Release flags
build:release --copt -O2
build:release --copt -DNDEBUG

# Use the latest C++ standard
# If you want to disable this and encounter following error:
#   undefined symbol: absl::lts_20240116::log_internal::LogMessageFatal...
# This applies only to metrics library with protobuf.
# See https://github.com/abseil/abseil-cpp/issues/1747
build --cxxopt=-std=c++23
build --host_cxxopt=-std=c++23

common --test_output=all

# Bazel clang-tidy integration
build:clang-tidy --aspects @bazel_clang_tidy//clang_tidy:clang_tidy.bzl%clang_tidy_aspect
build:clang-tidy --output_groups=report
build:clang-tidy --@bazel_clang_tidy//:clang_tidy_config=//:clang_tidy_config
build:clang-tidy --aspects_parameters=clang_tidy_check_external=true

# Put user-specific options in .bazelrc.user
try-import %workspace%/.bazelrc.user
